@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif
}


body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.main-heading {
  color: aliceblue;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 60px;
}

.game-space {
  text-align: center;
  padding-top: 50px;
}

.grid-text {
  width: 70px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;
  color: rgb(180, 202, 221);
  border: none;
}

.text-grid-row {
  margin-top: 10px;
  display: grid-inline;
  grid-template-columns: 50px 50px 50px 50px 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.submit-button {
  margin-top: 20px;
  margin-right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
}


.reset-button {
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  visibility: hidden;
}


.Y {
  background-color: rgb(181, 159, 59)
}

.G {
  background-color: rgb(83, 141, 78)
}

.N {
  background-color: rgb(88, 88, 90)
}

.result-text {
  margin-top: 20px;
  color: aliceblue;
}